[Unit]
Description=user-service Application
After=syslog.target

[Service]
ExecStart=/opt/user-service/user-service.jar SuccessExitStatus=143
StandardOutput=file://opt/user-service/log/user-service.log
StandardError=file://opt/user-service/log/user-service_error.log

[Install]
WantedBy=multi-user.target