[Unit]
Description=A Spring Boot application
After=syslog.target

[Service]
#User=gmilazzo
ExecStart=/opt/user-service/user-service.jar SuccessExitStatus=143
StandardOutput=/opt/user-service/log/user-service.log
StandardError=/opt/user-service/log/user-service_error.log

[Install]
WantedBy=multi-user.target